@charset "UTF-8";
html, body {
  font-size: 14px;
  font-family: Unbounded, sans-serif;
  color: #fff;
  font-weight: 500;
}

.wrapper {
  background-color: #dfdfdf;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container__main {
  margin: 0 15px;
  max-width: 1890px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  height: 100%;
  padding: 0 15px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header__top {
  width: 100%;
  z-index: 5;
  position: fixed;
  background-color: #181818;
}

.header__nav-burger {
  margin: 0px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 39px 0;
}

.header__nav {
  margin: 0px 25px;
}

.header__nav-list {
  margin: 0px 35px;
}

.header__top-inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo img {
  max-width: 130px;
}

.header__city-change {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 22px;
  border-radius: 6px;
  font-size: 11px;
  color: #fff;
  background-color: #0c0c0c;
  max-width: 172px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.city__change-moskow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: 1px solid #181818;
  width: 50%;
  padding: 8px 13px;
}
.city__change-moskow a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #A6A6A6;
}
.city__change-moskow a svg {
  margin-right: 7px;
  fill: #9f7437;
}
.city__change-moskow:hover a {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
}
.city__change-moskow:focus a {
  color: #fff;
}

.city__change-dubai {
  width: 50%;
  padding: 8px 13px;
}
.city__change-dubai a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #A6A6A6;
}
.city__change-dubai a svg {
  margin-right: 7px;
}
.city__change-dubai:hover a {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
}

.header__nav {
  margin-right: 150px;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-item {
  margin-right: 50px;
}
.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-link {
  font-size: 15px;
  color: #fff;
}

.header__socials-item {
  margin-right: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__socials_link {
  margin-right: 14px;
  opacity: 0.3;
}
.header__socials_link:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
}

.header__phone-numbers {
  margin-right: 40px;
  font-size: 18px;
  font-weight: 700;
}

.header__nav-button {
  margin-left: 25px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
}
.header__nav-button:hover {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 4px;
}
.header__nav-button button {
  border-radius: 8px;
  padding: 12px 20px 12px 20px;
  font-size: 13px;
  color: #fff;
  background-color: #181818;
}

.header__button-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__profile-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 12px;
}
.header__profile-item button {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: rgb(10, 10, 10);
}
.header__profile-item:last-child {
  margin-right: 0;
}

@media (max-width: 1760px) {
  .header__nav {
    margin: 0px 15px;
  }
  .header__nav-list {
    margin: 0px 15px;
  }
}
@media (max-width: 1560px) {
  .burger {
    z-index: 150;
    position: fixed;
    top: 30px;
    right: 15px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .burger span {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    width: 35px;
    height: 3px;
    background-color: #fff;
    display: block;
    border-radius: 3px;
    margin: 7px 0;
  }
  .burger::before {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    content: "";
    width: 35px;
    height: 3px;
    background-color: #fff;
    display: block;
    border-radius: 3px;
  }
  .burger::after {
    content: "";
    width: 35px;
    height: 3px;
    background-color: #fff;
    display: block;
    border-radius: 3px;
  }
  .header__logo {
    margin-left: 0px;
  }
  .header__button-profile {
    margin-right: 100px;
  }
  .burger--active {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .burger--active span {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    height: 4px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: -3px 0;
  }
  .burger--active::before {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .burger--active::after {
    display: none;
  }
  .header__nav-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateX(110%);
            transform: translateX(110%);
    min-width: 320px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #181818;
    z-index: 100;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    padding: 150px 0;
  }
  .header__nav-burger .header__nav-list {
    margin-top: 40px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__nav-burger .header__nav-link {
    margin-bottom: 60px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__nav-burger--open {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  .header__top-inner {
    padding: 39px 0;
  }
  .header__socials-item {
    display: none;
  }
}
@media (max-width: 500px) {
  .header__nav-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 400px;
  }
  .header__top-inner {
    padding: 24px 0;
  }
  .burger {
    top: 15px;
    right: 17px;
  }
  .header__button-profile {
    margin-right: 70px;
  }
  .header__logo img {
    width: 150px;
  }
}
@media (max-height: 900px) {
  .header__nav-burger {
    margin: 0;
    padding: 70px 0;
  }
  .header__nav-link {
    margin-bottom: 40px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__city-change {
    margin-bottom: 40px;
  }
  .header__nav-list:last-child {
    margin-bottom: 0;
  }
  .header__phone-numbers {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .header__nav-button {
    margin-left: 0;
  }
}
.header__content .container__main {
  background: url("..//img/bg/sprinterpp3.jpg") 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1860px;
  border-radius: 0 0 36px 36px;
  padding: 0;
}

.header__content {
  padding-top: 120px;
}

.header__span {
  margin-top: 119px;
  margin-bottom: 71px;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.2);
}

.header__title {
  padding: 170px 0 40px;
  margin: 0 auto;
  max-width: 804px;
  text-align: center;
  font-size: 89px;
  line-height: 95px;
  color: rgb(236, 236, 236);
}

.header__subtitle {
  text-align: center;
  font-size: 24px;
}

.header__content-row {
  padding-bottom: 242px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__row-item {
  margin-left: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__row-item:first-child {
  margin-left: 0;
}

.header__row-number {
  margin-right: 17px;
  text-align: center;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 29px;
  height: 26px;
  color: black;
  background-color: #fff;
  border-radius: 50%;
}
.header__row-number p {
  line-height: 10px;
  margin-top: 8px;
}

.header__row-text {
  font-size: 14px;
  line-height: 26px;
}

@media (max-width: 1560px) {
  .header__content .container__main {
    border-radius: 0 0 0px 0px;
  }
}
@media (max-width: 500px) {
  .header__content .container__main {
    background: url("..//img/bg/mers-adaptive.jpg") 100% 100% no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    max-width: 500%;
  }
  .header__content {
    padding: 94px 0 0;
  }
  .header__title {
    margin: 0px;
    padding: 40px 0 40px;
    max-width: 450px;
    text-align: start;
    font-size: 40px;
    line-height: 60px;
  }
  .header__subtitle {
    max-width: 400px;
    line-height: 30px;
    text-align: start;
    font-size: 18px;
  }
  .header__span {
    margin: 50px 0 50px;
  }
  .header__content-row {
    padding-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
  }
  .header__content-row .header__row-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .header__top-inner {
    padding: 25px 0;
  }
}
.header__arend-content {
  margin-top: -135px;
  padding: 65px 70px;
  background-color: #fff;
  border-radius: 20px;
}

.arend__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 29px;
  color: #1F1F1F;
  margin-bottom: 36px;
}

.arend__search {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.arend_input-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.arend_input {
  margin-right: 20px;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  padding: 28px 15px;
  text-align: start;
}

.arend__checkbox-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 14px auto;
  -ms-grid-columns: 1fr 26px 1fr 26px 1fr;
      grid-template: repeat(2, auto)/repeat(3, 1fr);
  gap: 14px 26px;
}

.arend__checkbox-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.arend__checkbox {
  border-radius: 4px;
  margin-right: 14px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 0 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  background-color: rgb(238, 238, 238);
}
.arend__checkbox svg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.arend__checkbox--agree {
  background-color: #1F1F1F;
}

.arend__checkbox-text {
  color: #1F1F1F;
}

.arend__button {
  white-space: nowrap;
}
.arend__button button {
  color: #fff;
  background-color: rgb(159, 116, 55);
  padding: 28px 34px;
  border-radius: 10px;
}

@media (max-width: 500px) {
  .header__arend-content {
    margin-top: 0px;
    padding: 40px 25px;
    background-color: #fff;
    border-radius: 0px;
  }
  .header_arend .container {
    padding: 0;
  }
  .arend__search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .arend_input-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .arend_input {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 12px;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    padding: 28px 150px 28px 40px;
    text-align: start;
  }
  .arend__checkbox-list {
    margin-top: 30px;
    margin-bottom: 40px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 25px auto 25px auto;
    -ms-grid-columns: 1fr 20px 1fr;
        grid-template: repeat(3, auto)/repeat(2, 1fr);
    gap: 25px 20px;
  }
  .arend__button {
    white-space: nowrap;
  }
  .arend__button button {
    font-size: 18px;
    color: #fff;
    background-color: rgb(159, 116, 55);
    padding: 28px 90px;
    border-radius: 10px;
  }
}
.main__car-park {
  margin-top: 120px;
}

.car__park-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heading__title {
  font-size: 48px;
  color: rgb(31, 31, 31);
  font-weight: 700;
}

.heading__button {
  margin-left: 60px;
  background-color: #dfdfdf;
  padding: 10px 18px;
  border-radius: 8px;
  border: 2px solid rgb(31, 31, 31);
}
.heading__button button {
  color: rgb(31, 31, 31);
}
.heading__button:hover {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #fff;
}

.car__btn-box {
  margin: 49px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.car__btn-item {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.car__btn-item button {
  padding: 27px 30px;
  border-radius: 10px;
}
.car__btn-item button:hover {
  background-color: rgb(234, 234, 234);
}
.car__btn-item button:focus {
  border: 1px solid #000000;
  padding: 26px 29px;
  background-color: rgb(234, 234, 234);
}
.car__btn-item img {
  margin-right: 20px;
}

.car__park-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 24px auto 24px auto;
  -ms-grid-columns: 1fr 24px 1fr 24px 1fr;
      grid-template: repeat(3, auto)/repeat(3, 1fr);
  gap: 24px;
}

.car__park-card {
  border-radius: 10px;
  padding: 45px 50px;
  background-color: #fff;
  max-width: 424px;
}

.car__img-box {
  padding: 0 19px 0;
}

.car__park-img {
  position: relative;
}

.car__img-city {
  margin-top: -26px;
  margin-left: 90%;
  font-weight: 700;
  display: inline-block;
  border-radius: 6px;
  padding: 9px 10px;
  background-color: rgb(240, 240, 240);
  color: #000000;
  font-size: 9px;
}

.card__car-name {
  margin-top: 40px;
  font-size: 20px;
  color: black;
}

.cars__car-traits {
  margin-top: 30px;
  margin-bottom: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgb(235, 235, 235);
  padding-bottom: 33px;
}

.car__traits-engine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(112, 112, 112);
}
.car__traits-engine img {
  margin-right: 15px;
}

.car__traits-hp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(112, 112, 112);
  margin-left: 26px;
}
.car__traits-hp img {
  margin-right: 15px;
}

.card__car-rent {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.car__rent-button button {
  border-radius: 6px;
  font-size: 12px;
  background-color: rgb(159, 116, 55);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  line-height: 20px;
}
.car__rent-button button a {
  color: #fff;
}

.car__rent-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  color: rgb(171, 171, 171);
  display: flex;
}
.car__rent-price p {
  color: #000000;
  font-size: 18px;
}

.car__park-text {
  margin-top: 120px;
}

@media (max-width: 500px) {
  .main__car-park {
    margin-top: 40px;
  }
  .heading__title {
    max-width: 197px;
    font-size: 22px;
  }
  .heading__button {
    font-size: 17px;
    margin-left: 30px;
  }
  .car__btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
    margin-bottom: 70px;
  }
  .car__btn-item {
    margin-bottom: 10px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .car__park-cards {
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 35px auto 35px auto 35px auto;
    -ms-grid-columns: 1fr;
        grid-template: repeat(4, auto)/repeat(1, 1fr);
    gap: 35px;
  }
  .car__park-card {
    margin: 0 auto;
    max-width: 370px;
  }
  .car__park-img img {
    width: 280px;
  }
  .car__park-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .car__park-title {
    font-size: 18px;
  }
  .car__park-subtitle {
    font-size: 12px;
  }
  .car__rent-price {
    font-size: 10px;
  }
  .car__rent-button button {
    font-size: 9px;
  }
  .car__traits-engine {
    font-size: 12px;
  }
  .car__traits-engine img {
    margin-right: 10px;
  }
  .car__traits-hp {
    font-size: 12px;
  }
  .car__traits-hp img {
    margin-right: 10px;
  }
  .car__rent-button button {
    font-size: 15px;
    padding: 10px 15px;
  }
  .car__rent-price {
    font-size: 15px;
  }
  .car__img-box {
    padding: 0;
  }
}
.main__rent-now .container__main {
  margin-bottom: 120px;
  padding: 170px 260px;
  background: url("..//img/bg/bg-mersedes.jpeg") 100% 100% no-repeat;
  background-size: cover;
  border-radius: 36px;
}

.rent__now-heading {
  font-size: 48px;
}

.rent__now-content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
}

.rent__now-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 30px;
  max-width: 760px;
}

.rent__now-title {
  font-size: 24px;
  line-height: 30px;
}

.rent__now-subtitle {
  margin-top: 36px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.6);
}

.rent__now-form {
  max-width: 424px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.rent__input {
  margin-bottom: 14px;
  border-radius: 10px;
  width: 100%;
  padding: 28px 30px;
}
.rent__input input {
  font-size: 16px;
  width: 100%;
}

.rent__form-button {
  width: 100%;
}
.rent__form-button button {
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 28px 0;
  width: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.rent__form-button button:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: #444444;
}

.rent__form-checkbox {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rent__form-check {
  padding: 2px 5px 2px 5px;
  margin-right: 14px;
  width: 20px;
  height: 20px;
  border-radius: 40%;
  background-color: rgba(238, 238, 238, 0.4);
}
.rent__check-text p {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5);
}
.rent__check-text a {
  line-height: 0;
  font-size: 11px;
  color: #fff;
}

.rent__form-check--agree {
  background-color: rgb(238, 238, 238);
}

@media (max-width: 500px) {
  .rent__now-content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 70px;
  }
  .main__rent-now .container__main {
    margin-bottom: 40px;
    padding: 40px 20px;
    background: url("..//img/bg/bg-mersedes.jpeg") 50% 100% no-repeat;
    background-size: cover;
    border-radius: 0px;
  }
  .rent__form-checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-bottom: 40px;
  }
  .rent__form-check {
    padding: 4px 7px 4px 7px;
    margin-right: 14px;
    width: 24px;
    height: 24px;
    border-radius: 40%;
    background-color: rgba(238, 238, 238, 0.4);
  }
  .rent__check-text {
    margin-right: 30px;
  }
  .rent__now-title {
    font-size: 16px;
  }
  .rent__now-heading {
    font-size: 30px;
    line-height: 50px;
  }
}
.main__rent-premium {
  margin-bottom: 120px;
}

.premium__rent-inner {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.premium__content {
  border-radius: 20px;
  background-color: #EBEBEB;
  max-width: 648px;
}

.premiumRent__img-box img {
  max-width: 648px;
  border-radius: 20px;
}

.premum__heading {
  font-size: 48px;
  color: rgb(31, 31, 31);
  margin-bottom: 60px;
}

.premium__rent-content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.premium__content-text {
  max-width: 402px;
}

.premium__text-title {
  line-height: 25px;
  font-size: 20px;
  color: #1f1f1f;
}

.premium__text-sutitle {
  margin-top: 22px;
  line-height: 26px;
  color: rgba(31, 31, 31, 0.5);
}

.premiun__rent-button {
  max-height: 54px;
  display: block;
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
}
.premiun__rent-button button {
  border-radius: 50%;
  padding: 18px;
}
.premiun__rent-button button:hover {
  background-color: #ffffff;
}

@media (max-width: 500px) {
  .premium__rent-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .premum__heading {
    font-size: 30px;
    line-height: 50px;
  }
  .premium__content {
    margin-bottom: 50px;
  }
  .premiumRent__img-box img {
    border-radius: 20px;
    width: 100%;
  }
}
.main__steps {
  margin-bottom: 120px;
}

.steps__heading {
  margin: 0 auto;
  font-size: 48px;
  color: black;
  max-width: 711px;
  text-align: center;
  margin-bottom: 60px;
}

.steps__cards {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.steps__card {
  border-radius: 22px;
  max-width: 424px;
  background-color: rgb(255, 255, 255);
  padding: 66px 50px 50PX;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.steps__card-img {
  margin-right: 40px;
}

.step__title {
  font-size: 19px;
  color: black;
}

.step__subtitle {
  margin-top: 22px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.4);
}
.step__subtitle span {
  color: rgb(0, 0, 0);
}

@media (max-width: 500px) {
  .steps__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .steps__card {
    margin-bottom: 18px;
    margin-left: 14px;
  }
  .steps__heading {
    font-size: 38px;
  }
  .steps__card {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}
.image__content {
  max-width: 536px;
}

.card__image {
  position: relative;
  max-height: 274px;
  max-width: 536px;
  border-radius: 20px 20px 0 0;
}

.card__image .card__img {
  border-radius: 20px 20px 0 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__discount {
  margin-bottom: 120px;
}

.main__discount .container__main {
  padding: 150px 270px;
  background: url("/img/bg/bg-camaro.jpeg") 100% 100% no-repeat;
  background-size: cover;
  border-radius: 36px;
}

.main__discount-content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__discount-text {
  margin-right: 30px;
  max-width: 648px;
}

.main__text-title {
  font-size: 48px;
  line-height: 62px;
}

.main__text-subtitle {
  font-size: 24px;
  line-height: 34px;
  margin-top: 50px;
}

.main__text-textsub {
  line-height: 26px;
  margin-top: 36px;
  color: rgba(255, 255, 255, 0.5);
}

.discount__slider-container {
  padding: 15px;
  width: 100%;
  background-color: red;
}

.card {
  margin-right: 30px;
  margin: 0 auto;
  max-width: 536px;
}

.card__content {
  position: relative;
  border-radius: 0 0 20px 20px;
  padding: 40px;
  background-color: #fff;
}

.card__content-title {
  font-size: 18px;
  color: black;
}

.qeen-slide {
  top: -25px;
  right: 25px;
  position: absolute;
  border-radius: 50%;
  padding: 14px 15px;
  height: 50px;
  width: 50px;
  background-color: rgb(212, 184, 79);
}

.card__content-subtitle {
  line-height: 26px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 22px;
}

.swiper {
  width: 536px;
  height: 448px;
}

.swiper {
  width: 536px;
  height: 448px;
}

.swiper-slide {
  border-radius: 20px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper__img-box {
  border-radius: 20px 20px 0 0;
}

.swiper__img {
  border-radius: 20px 20px 0 0;
}

.swiper__content {
  position: relative;
  padding: 40px;
}

.swiper__qeen {
  right: 25px;
  top: -25px;
  padding: 12px 15px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: rgb(214, 188, 94);
  position: absolute;
}

.swiper__content-title {
  font-size: 18px;
  color: rgb(31, 31, 31);
}

.swiper__content-subtitle {
  margin-top: 22px;
  line-height: 26px;
  font-size: 14px;
  color: rgba(31, 31, 31, 0.5);
}

.slider__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 122px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
}

.next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  padding: 18px 17px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0);
}
.next:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.prev {
  margin-right: 20px;
  padding: 18px 17px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0);
}
.prev:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.slider__arrows-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-pagination-bullet-active {
  background: none;
}
.swiper-pagination-bullet-active span {
  background: none;
}

@media (max-width: 500px) {
  .main__discount-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main__discount .container__main {
    padding: 40px 20px;
    background: url("/img/bg/bg-camaro.jpeg") 50% 100% no-repeat;
    background-size: cover;
    border-radius: 0px;
  }
  .swiper__img {
    width: 100%;
  }
  .swiper {
    width: 321px;
    height: 418px;
  }
  .slider__arrows-box {
    margin-bottom: 50px;
  }
  .main__text-title {
    display: none;
  }
  .main__text-subtitle {
    margin-top: 0;
    font-size: 20px;
  }
  .swiper-slide {
    margin: 0 auto;
  }
  .main__text-subtitle {
    font-size: 16px;
  }
  .next {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    padding: 15px 16px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0);
  }
  .next:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .prev {
    margin-right: 10px;
    padding: 16px 15px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0);
  }
  .prev:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .slider__arrows {
    margin-top: 40px;
  }
}
.servises__main {
  margin-bottom: 120px;
}

.servises__heading {
  margin-bottom: 60px;
  font-size: 48px;
  line-height: 62px;
  color: #000;
}

.servises__items {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.servises__item {
  max-width: 424px;
}

.servises__img-box {
  border-radius: 20px;
}
.servises__img-box img {
  border-radius: 20px;
}

.servises__item-content {
  margin-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.servises__content-title {
  max-width: 262px;
  color: #000;
  line-height: 28px;
}

.servises__content-button {
  margin-left: 48px;
  padding: 18px 16px;
  max-height: 52px;
  max-width: 52px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.06);
}
.servises__content-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 500px) {
  .servises__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .servises__item {
    max-width: 424px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .servises__img {
    width: 100%;
  }
  .servises__heading {
    font-size: 38px;
  }
}
.reason__main {
  margin-bottom: 120px;
}

.reason__heading {
  font-size: 48px;
  color: #000;
  max-width: 760px;
  margin-bottom: 76px;
}

.reason__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 60px auto 60px auto;
  -ms-grid-columns: 1fr 213px 1fr;
      grid-template: repeat(3, auto)/repeat(2, 1fr);
  gap: 60px 213px;
}

.reason__item {
  max-width: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reason__img-box {
  width: 112px;
  height: 112px;
  background-color: #fff;
  padding: 30px 32px;
  border-radius: 20px;
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reason__item-title {
  line-height: 28px;
  color: #000;
  font-size: 18px;
  margin-bottom: 15px;
}

.reason__item-subtitle {
  color: rgba(0, 0, 0, 0.4);
  line-height: 26px;
}

@media (max-width: 500px) {
  .reason__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 60px auto 60px auto 60px auto 60px auto 60px auto;
    -ms-grid-columns: 1fr;
        grid-template: repeat(6, auto)/repeat(1, 1fr);
    gap: 60px 213px;
  }
  .reason__heading {
    font-size: 34px;
  }
}
.hire__main .container__main {
  padding: 120px 270px;
  background: url("/img/bg/bg-angar.jpeg") 100% 100% no-repeat;
  background-size: cover;
  border-radius: 36px 36px 0 0;
}

.hire__dubai {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hire__dubai-heading {
  max-width: 648px;
}

.hire__dubai-title {
  font-size: 48px;
  line-height: 62px;
}

.hire__dubai-subtitle {
  font-size: 24px;
  line-height: 36px;
  margin-top: 50px;
  margin-bottom: 36px;
}

.hire__dubai-subtext {
  font-size: 16px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.4);
}

.hair__dubai-img {
  max-width: 560px;
  border-radius: 20px;
}
.hair__dubai-img img {
  width: 100%;
  border-radius: 20px;
}

.hire__moscow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hair__moscow-content {
  max-width: 760px;
}

.hair__moscow-img {
  max-width: 560px;
  border-radius: 20px;
}
.hair__moscow-img img {
  width: 100%;
  border-radius: 20px;
}

.hire__moscow-heading {
  margin-bottom: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}

.hire__moscow-title {
  font-size: 48px;
  line-height: 62px;
  max-width: 476px;
}

.hire__moscow-subtitle {
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 17px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.4);
}
.hire__moscow-subtitle span {
  color: rgb(255, 255, 255);
}
.hire__moscow-subtitle p {
  margin-bottom: 40px;
}

.hair__reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hair__reason {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hair__reason-img {
  margin-right: 18px;
}

.hair__reason-text {
  font-size: 12px;
}

@media (max-width: 500px) {
  .hire__main .container__main {
    padding: 40px 20px;
    background: url("/img/bg/bg-angar.jpeg") 50% 100% no-repeat;
    background-size: cover;
    border-radius: 0;
  }
  .hire__dubai {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hire__moscow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hair__moscow-img {
    margin-bottom: 30px;
  }
  .hair__reasons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hair__reason {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
  }
  .hair__reason-text {
    font-size: 15px;
  }
  .hire__dubai-subtext {
    margin-bottom: 30px;
  }
  .hire__dubai-title {
    font-size: 38px;
  }
  .hire__dubai-subtitle {
    font-size: 20px;
  }
  .hire__dubai-subtext {
    font-size: 14px;
  }
}
.brand__main {
  margin-bottom: 120px;
}

.brand__main .container__main {
  background: #fff;
  border-radius: 0 0 36px 36px;
}

.brand__items {
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 500px) {
  .brand__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
  }
  .brand__item {
    margin-right: 25px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .brand__main .container__main {
    background: #fff;
    border-radius: 0;
  }
}
.questions__inner {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.questions__img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.questions__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.questions__title {
  font-size: 48px;
  color: #000;
  margin-bottom: 40px;
}

.questions__subtitle {
  line-height: 30px;
  max-width: 499px;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
}

.questions__phone {
  color: #000;
  font-size: 20px;
  margin-bottom: 60px;
}

.question__form {
  max-width: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.question__input {
  margin-bottom: 14px;
  border-radius: 10px;
  padding: 28px 30px;
}

.questions__form-button {
  margin-bottom: 40px;
  color: #fff;
  background-color: #000;
  border-radius: 10px;
  padding: 28px 0;
}

.check__question-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.question__form-check {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  margin-right: 14px;
}

.question__form-check--agree {
  background-color: rgb(255, 255, 255);
  border: 1px solid #000;
}

.question__form-text {
  color: rgba(0, 0, 0, 0.4);
  line-height: 20px;
}
.question__form-text p {
  color: #000;
}
.question__form-text p a {
  color: #000;
}

@media (max-width: 500px) {
  .questions__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .questions__img-box {
    margin: 0 auto;
    max-width: 200px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .questions__img-box img {
    width: 100%;
  }
  .check__question-box {
    margin-bottom: 30px;
  }
}
.footer .container__main {
  padding: 105px 0;
  background-color: #1D1D1D;
  border-radius: 36px 36px 0 0;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo {
  margin-bottom: 60px;
}

.footer__number {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__number-items {
  margin-right: 30px;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.4);
}
.footer__number-items p {
  color: rgb(255, 255, 255);
  font-size: 18px;
}

.footer__number-button button {
  color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0);
}

.footer__contact-local {
  margin-bottom: 8px;
  line-height: 30px;
  text-align: end;
}

.footer__socials-items {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.footer__socials-item {
  margin-left: 14px;
  text-align: end;
}

.footer__nav {
  margin-left: 128px;
}

.footer__nav-items {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__client {
  margin-bottom: 45px;
}

.nav__client-title {
  margin-bottom: 20px;
}

.nav__client-item {
  margin-right: 100px;
  line-height: 34px;
}
.nav__client-item a {
  color: rgba(255, 255, 255, 0.4);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.nav__client-item a:hover {
  color: rgb(255, 255, 255);
}
.nav__client-item:last-child {
  margin-right: 0;
}

.nav_client-title {
  margin-bottom: 20px;
}

.strech__konf {
  margin-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.strech__konf-item {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.4);
}

@media (max-width: 500px) {
  .footer__number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__number-button {
    margin-top: 30px;
    width: 100%;
  }
  .footer__number-button button {
    width: 100%;
  }
  .footer__number-items {
    margin-right: 0;
    text-align: center;
  }
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__contact-local {
    text-align: center;
  }
  .footer__nav,
  .footer__socials-items {
    display: none;
  }
  .footer__logo {
    margin: 20px 100px 60px 100px;
    width: 200px;
  }
  .footer__logo- {
    max-width: 150px;
  }
  .footer .container__main {
    padding: 30px 0;
    background-color: #1D1D1D;
    border-radius: 36px 36px 0 0;
  }
  .footer__number-button button {
    padding: 20px 40px;
    max-width: 270px;
    margin: 0px 65px;
  }
}
.modal {
  position: fixed; /* фиксированное положение */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); /* фон */
  z-index: 1050;
  opacity: 0; /* по умолчанию модальное окно прозрачно */
  -webkit-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in; /* анимация перехода */
  pointer-events: none; /* элемент невидим для событий мыши */
  margin: 0;
  padding: 0;
}

/* При отображении модального окно */
.modal:target {
  opacity: 1; /* делаем окно видимым */
  pointer-events: auto; /* элемент видим для событий мыши */
  overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}

/* ширина модального окна и его отступы от экрана */
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 30px auto; /* отображение окна по центру */
  }
}
/* Стили для блока с контентом окна */
.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

@media (min-width: 768px) {
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}
/* Стили заголовка окна */
.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #eceeef;
}

.modal-title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 500;
  color: #000;
}

/* Стили кнопки "х" ("Закрыть")  */
.close {
  float: right;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  text-decoration: none;
}

/* Стили для закрывающей кнопки в фокусе или наведении */
.close:focus, .close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.75;
}

/* Стили блока основного содержимого окна */
.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 15px;
  overflow: auto;
}
.modal-body li {
  color: #000;
}
